POSTGRES_DB=hidro_smart
POSTGRES_USER=hidro_smart_admin
POSTGRES_PASSWORD=CAMBIA_ESTA_CONTRASENA
POSTGRES_PORT=5433

LIQUIBASE_USER=hidro_smart_liquibase
LIQUIBASE_PASSWORD=CAMBIA_ESTA_CONTRASENA_LIQUIBASE

POSTGRES_INTERNAL_HOST=postgres
POSTGRES_INTERNAL_PORT=5432
POSTGRES_LOCAL_HOST=localhost
POSTGRES_LOCAL_PORT=5433
